<ion-view view-title="我听过的问题">
    <ion-content>
        <div class="card" ng-click="modal.show()">
            <div class="item item-divider">
                <span>问题描述</span>
            </div>
            <div class="item item-text-wrap">
                这是文章内容这是文章内容这是文章内容这是文章内容这是文章内容这是文章内容这是文章内容
            </div>
            <a class="item item-avatar" href="#">
                <img src="http://pic.ffpic.com/files/2012/1115/sj1113fun03.jpg">
                <h2>王老五律师</h2>
                <p>查听时间2016-05-04 22：00</p>
            </a>
            <div class="item item-divider" style="line-height: 30px">
                <span style="float: right;">￥1.00</span>
                <button class="button button-positive button-small button-outline ">日常法典</button>
            </div>
        </div>
        <div class="card" ng-click="modal.show()">
            <div class="item item-divider">
                <span>问题描述</span>
            </div>
            <div class="item item-text-wrap">
                这是文章内容这是文章内容这是文章内容这是文章内容这是文章内容这是文章内容这是文章内容
            </div>
            <a class="item item-avatar" href="#">
                <img src="http://pic.ffpic.com/files/2012/1115/sj1113fun03.jpg">
                <h2>王老五律师</h2>
                <p>查听时间2016-05-04 22：00</p>
            </a>
            <div class="item item-divider" style="line-height: 30px">
                <span style="float: right;">￥1.00</span>
                <button class="button button-positive button-small button-outline ">日常法典</button>
            </div>
        </div>
        <div class="card" ng-click="modal.show()">
            <div class="item item-divider">
                <span>问题描述</span>
            </div>
            <div class="item item-text-wrap">
                这是文章内容这是文章内容这是文章内容这是文章内容这是文章内容这是文章内容这是文章内容
            </div>
            <a class="item item-avatar" href="#">
                <img src="http://pic.ffpic.com/files/2012/1115/sj1113fun03.jpg">
                <h2>王老五律师</h2>
                <p>查听时间2016-05-04 22：00</p>
            </a>
            <div class="item item-divider" style="line-height: 30px">
                <span style="float: right;">￥1.00</span>
                <button class="button button-positive button-small button-outline ">日常法典</button>
            </div>
        </div>
    </ion-content>

</ion-view>
