<ion-tabs class="tabs-default tabs-icon-only" >
    <ion-tab title="全部"  >
        <div>
            <div class="card">
                <div class="item item-divider">
                    待付款
                    <span style="float:right;">780元</span>
                </div>
                <a class="item item-avatar" href="#">
                    <img src="http://pic.ffpic.com/files/2012/1115/sj1113fun03.jpg">
                    <h2>张文哲律师</h2>
                    <p>订单类型：打赏咨询</p>
                    <p>订单编号：14554871544</p>
                    <p>时间：2017-05-13</p>
                </a>
                <!--            <div class="item item-text-wrap">
                                This is a basic Card with some text.
                            </div>-->
                <div class="item item-divider text-right">
                    <button class="button button-small button-positive"  ng-click="modal.show()">立即付款</button>
                    <button class="button button-small button-calm"  ng-click="rewardDetials.show()">查看详情</button>
                    <button class="button button-small button-assertive">取消订单</button>
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    待付款
                    <span style="float:right;">780元</span>
                </div>
                <a class="item item-avatar" href="#">
                    <img src="http://pic.ffpic.com/files/2012/1115/sj1113fun03.jpg">
                    <h2>张文哲律师</h2>
                    <p>订单类型：打赏咨询</p>
                    <p>订单编号：14554871544</p>
                    <p>时间：2017-05-13</p>
                </a>
                <!--            <div class="item item-text-wrap">
                                This is a basic Card with some text.
                            </div>-->
                <div class="item item-divider text-right">
                    <button class="button button-small button-positive">立即付款</button>
                    <button class="button button-small button-calm">查看详情</button>
                    <button class="button button-small button-assertive">取消订单</button>
                </div>
            </div>
            <div class="padding">
                <p>*test details modal when developed clear it</p>
                <button class="button button-small button-calm"  ng-click="rewardDetials.show()">打赏咨询详情</button>
                <button class="button button-small button-calm"  ng-click="phoneDetials.show()">电话订单详情</button>
                <button class="button button-small button-calm"  ng-click="meetingDetials.show()">会见订单详情</button>
                <button class="button button-small button-calm"  ng-click="lawyerWitnessDetials.show()">律师见证订单详情</button>
                <button class="button button-small button-calm"  ng-click="lawyerMediationDetials.show()">律师调解订单详情</button>
                <button class="button button-small button-calm"  ng-click="lawyerletterDetials.show()">律师函订单详情</button>
                <button class="button button-small button-calm"  ng-click="examinationDetials.show()">合同审查订单详情</button>
                <button class="button button-small button-calm"  ng-click="draftDetials.show()">起草合同订单详情</button>
                <button class="button button-small button-calm"  ng-click="downloadDetials.show()">下载合同订单详情</button>

            </div>
        </div>
    </ion-tab>

    <ion-tab title="待付款"  >
        <!-- 标签 2 内容 -->
    </ion-tab>

    <ion-tab title="待处理"  >
        <!-- 标签 3 内容 -->
    </ion-tab>

    <ion-tab title="已完成"  >
        <!-- 标签 3 内容 -->
    </ion-tab>
</ion-tabs>
<style>
    .tab-nav{
        top:auto !important;
        bottom:0 !important;
    }
</style>
