<ion-view view-title="预约咨询">
    <ion-content>
        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="搜索">
                </label>
                <button class="button button-small">
                    搜索
                </button>
            </div>

        </div>
        <!--hot导航-->
        <div class="card">
            <div class="item" style="padding: 0.3rem;">
                <div class="row text-center ">
                    <div class="col">
                        <p>
                            全部
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>

                </div>
                <div class="row text-center ">
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                </div>
                <div class="row text-center ">
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            婚姻家庭
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!--列表-->
        <div class="card" >
            <div class="item item-avatar" ui-sref="consult.details({id:'just test you can push the objId'})">
                <img src="http://pic.ffpic.com/files/2012/1115/sj1113fun03.jpg">
                <h2>
                    张文哲律师
                    <div style="float:right;" class="energized">
                        <i class="ion ion-ios-star"></i>
                        <i class="ion ion-ios-star"></i>
                        <i class="ion ion-ios-star"></i>
                        <i class="ion ion-ios-star-half"></i>
                        <i class="ion ion-ios-star-outline"></i>
                    </div>
                </h2>
                <p>广州市-广州区</p>
                <p>执照号：1545151545154</p>
            </div>
            <div class="buttons row">
                <div class="col">

                    <button class=" button button-small button-positive button-block " ng-click="rewardconsultmodal.show()">打赏咨询</button>
                </div>
                <div class="col">
                    <button class=" button button-small button-positive button-block" ng-click="phoneconsultmodal.show()">电话咨询</button>

                </div>
                <div class="col">
                    <button class=" button button-small button-positive button-block" ng-click="meetingmodal.show()">预约会面</button>

                </div>
                <div class="col">

                    <button class=" button button-small button-positive button-block" ng-click="userratingmodal.show()">用户评价</button>
                </div>
            </div>

        </div>
        <div class="card" >
            <div class="item item-avatar" ui-sref="consult.details({id:'just test you can push the objId'})">
                <img src="http://pic.ffpic.com/files/2012/1115/sj1113fun03.jpg">
                <h2>
                    张文哲律师
                    <div style="float:right;" class="energized">
                        <i class="ion ion-ios-star"></i>
                        <i class="ion ion-ios-star"></i>
                        <i class="ion ion-ios-star"></i>
                        <i class="ion ion-ios-star-half"></i>
                        <i class="ion ion-ios-star-outline"></i>
                    </div>
                </h2>
                <p>广州市-广州区</p>
                <p>执照号：1545151545154</p>
            </div>
            <div class="buttons row">
                <div class="col">

                    <button class=" button button-small button-positive button-block " ng-click="rewardconsultmodal.show()">打赏咨询</button>
                </div>
                <div class="col">
                    <button class=" button button-small button-positive button-block" ng-click="phoneconsultmodal.show()">电话咨询</button>

                </div>
                <div class="col">
                    <button class=" button button-small button-positive button-block" ng-click="meetingmodal.show()">预约会面</button>

                </div>
                <div class="col">

                    <button class=" button button-small button-positive button-block" ng-click="userratingmodal.show()">用户评价</button>
                </div>
            </div>

        </div>
        <div class="card" >
            <div class="item item-avatar" ui-sref="consult.details({id:'just test you can push the objId'})">
                <img src="http://pic.ffpic.com/files/2012/1115/sj1113fun03.jpg">
                <h2>
                    张文哲律师
                    <div style="float:right;" class="energized">
                        <i class="ion ion-ios-star"></i>
                        <i class="ion ion-ios-star"></i>
                        <i class="ion ion-ios-star"></i>
                        <i class="ion ion-ios-star-half"></i>
                        <i class="ion ion-ios-star-outline"></i>
                    </div>
                </h2>
                <p>广州市-广州区</p>
                <p>执照号：1545151545154</p>
            </div>
            <div class="buttons row">
                <div class="col">

                    <button class=" button button-small button-positive button-block " ng-click="rewardconsultmodal.show()">打赏咨询</button>
                </div>
                <div class="col">
                    <button class=" button button-small button-positive button-block" ng-click="phoneconsultmodal.show()">电话咨询</button>

                </div>
                <div class="col">
                    <button class=" button button-small button-positive button-block" ng-click="meetingmodal.show()">预约会面</button>

                </div>
                <div class="col">

                    <button class=" button button-small button-positive button-block" ng-click="userratingmodal.show()">用户评价</button>
                </div>
            </div>

        </div>
        <!--加载更多按钮-->
        <div class="padding">
            <button class="button button-positive button-block button-small">
                加载更多
            </button>
        </div>

    </ion-content>
</ion-view>