
<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">用户评价</h1>
        <div class="buttons">
            <button class="button" ng-click="userratingmodal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>


        <div class="banner" style="position: relative;">
            <img src="http://pic.ffpic.com/files/2012/1115/sj1113fun03.jpg" alt="" class="user-headportrait"
                 style="height: 150px;width: 100%">
            <h3 class="text-center">王老汉律师</h3>

            <div  class="energized" style="top: 9px;position: absolute;right: -120px;">
                <i class="ion ion-ios-star"></i>
                <i class="ion ion-ios-star"></i>
                <i class="ion ion-ios-star"></i>
                <i class="ion ion-ios-star-half"></i>
                <i class="ion ion-ios-star-outline"></i>
            </div>

        </div>
        <div class="list">
            <div class="item item-divider">
                用户评价（300）
                <button style="float:right;" class="button button-small button-positive" ng-click="postratingmodal.show()">
                    我要点评
                </button>
            </div>
            <a class="item item-avatar item-text-wrap" href="#">
                <img src="http://pic.ffpic.com/files/2012/1115/sj1113fun03.jpg">
                <h2>154***54515151</h2>
                <p>
                    打分
                    <i class="ion ion-ios-star energized"></i>
                    <i class="ion ion-ios-star energized"></i>
                    <i class="ion ion-ios-star energized"></i>
                    <i class="ion ion-ios-star-half energized"></i>
                    <i class="ion ion-ios-star-outline energized"></i>
                </p>
                <p>这里是评论的主题这里是评论的主题这里是评论的主题这里是评论的主题这里是评论的主题这里是评论的主题这里是评论的主题这里是评论的主题</p>
            </a>
        </div>

        <!--        <ion-footer-bar align-title="left" class="">
                    <h1 class="title">联系客服 800820461</h1>
                </ion-footer-bar>-->

    </ion-content>
</div>

