<ion-view view-title="过往案例">
    <ion-content>
        <ul class="list">
            <a class="item  item-icon-right" ng-click="detailsmodal.show()">
                <p>t页面t页面这里是过往案例的list页面</p>
                <i class="icon ion-ios-arrow-forward dark"></i>
            </a>

            <a class="item item-icon-right" ng-click="detailsmodal.show()">
                <p>这里是面这里是过list页面</p>
                <i class="icon ion-ios-arrow-forward dark"></i>
            </a>
            <a class="item item-icon-right" ng-click="detailsmodal.show()">
                <p>这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面</p>
                <i class="icon ion-ios-arrow-forward dark"></i>
            </a>
            <a class="item item-icon-right" ng-click="detailsmodal.show()">
                <p>这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面</p>
                <i class="icon ion-ios-arrow-forward dark"></i>
            </a>
            <a class="item item-icon-right" ng-click="detailsmodal.show()">
                <p>这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面</p>
                <i class="icon ion-ios-arrow-forward dark"></i>
            </a>
            <a class="item item-icon-right" ng-click="detailsmodal.show()">
                <p>这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面这里是过往案例的list页面</p>
                <i class="icon ion-ios-arrow-forward dark"></i>
            </a>
        </ul>

    </ion-content>
    <ion-footer-bar align-title="center" class="bar-balanced">
        <div class="title" ng-click="postcasemodal.show()">
            发布案例
        </div>
    </ion-footer-bar>
</ion-view>



