<ion-view view-title="我的订单">
    <ion-content>
        <div class="button-bar">
            <a class="button">全部</a>
            <a class="button">待付款</a>
            <a class="button">待处理</a>
            <a class="button">已完成</a>
        </div>
        <div>
            <div class="card">
                <div class="item item-divider">
                    离婚纠纷
                    <button class="button button-outline button-positive button-small" style="float:right;">待审核</button>
                </div>
                <div class="item">
                    李四
                    <p>电话：19854548452</p>
                </div>
                <p class="item">
                    广东省-广东市
                    <span style="float:right;">
                        100元-500元
                    </span>
                </p>
                <!--            <div class="item item-text-wrap">
                                This is a basic Card with some text.
                            </div>-->
                <div class="item item-divider text-right">
                    <button class="button button-small button-calm"  ng-click="caseListmodal.show()">查看详情</button>
                </div>
            </div>
        </div>

    </ion-content>
    <div class="bar bar-footer">
        <!--<button class="button button-clear">Left</button>-->
        <div class="title" ng-click="releasemodal.show()">发布案件</div>
        <!--<button class="button button-clear">Right</button>-->
    </div>


    <ion-footer-bar align-title="center" class="bar-balanced">
        <div class="title" ng-click="releasemodal.show()">
            发布案件
        </div>
    </ion-footer-bar>

</ion-view>
