<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">案件详情</h1>
        <div class="buttons">
            <button class="button" ng-click="caseListmodal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                案件信息
                <p style="float: right">
                    广东省-广东市
                </p>
            </div>
            <div class="item ">
                订单类型：打赏咨询
            </div>
            <div class="item ">
                委托报价：100元-500元
            </div>
            <div class="item item-text-wrap">
                <h3>案件内容：</h3>
                <p>案件详情案件详情案件详情案件详情案件详情案件详情案件详情案件详情案件详情</p>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                个人信息
            </div>
            <div class="item ">
                姓名：解放西
            </div>
            <div class="item ">
                手机号码：19854545874
            </div>
            <div class="item ">
                身份证号：321021544551458451X
            </div>

        </div>

        <div class="card">
            <div class="item item-divider">
                案件资料
            </div>
            <a class="item " ng-click="imgmodal.show()">
                <i class="ion-image ion"></i>
                我的图片资料
            </a>
            <a class="item ">
                <i class="ion-image ion"></i>
                律师的图片资料
            </a>
        </div>

        <div class="card">
            <div class="item item-divider">
                案件进展
            </div>
            <label class="item item-input">
                <textarea rows="5" placeholder="请输入回复内容"></textarea>
            </label>
            <div class="padding">
                <button class="button button-small button-block button-balanced">
                    回复
                </button>
            </div>
            <div class="item item-text-wrap">
                <h3 style="line-height:30px">
                    <button class="button button-outline button-small button-positive">我说</button>
                    <p style="float: right">2017-05-24</p>
                </h3>
                <p>
                    这里是回复的详细内容这里是回复的详细内容这里是回复的详细内容这里是回复的详细内容
                </p>
            </div>
            <div class="item item-text-wrap">
                <h3 style="line-height:30px">
                    <button class="button button-outline button-small button-positive">我说</button>
                    <p style="float: right">2017-05-24</p>
                </h3>
                <p>
                    这里是回复的详细内容这里是回复的详细内容这里是回复的详细内容这里是回复的详细内容
                </p>
            </div>
            <div class="item item-text-wrap">
                <h3 style="line-height:30px">
                    <button class="button button-outline button-small button-positive">我说</button>
                    <p style="float: right">2017-05-24</p>
                </h3>
                <p>
                    这里是回复的详细内容这里是回复的详细内容这里是回复的详细内容这里是回复的详细内容
                </p>
            </div>
            <div class="padding">
                <button class="button button-positive button-block button-small">
                    加载更多
                </button>
            </div>

        </div>



    </ion-content>
</div>