<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">立即付款</h1>
        <div class="buttons">
            <button class="button" ng-click="modal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                委托代办
                <span style="float: right">
                    187元
                </span>
            </div>
            <div class="item item-text-wrap">
                <p>我有件事要代办哦我有件事要代办哦我有件事要代办哦</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p>我有件事要代办哦我有件事要代办哦我有件事要代办哦</p>
            </div>
            <ion-checkbox ng-model="filter.blue">使用余额（余额：300元）</ion-checkbox>
        </div>
        <div class="padding">
            <button class="button button-assertive button-block">确认支付</button>
        </div>
    </ion-content>
</div>