<div class="modal">
    <ion-header-bar align-title="lef
    t" class="bar-positive">
        <h1 class="title">提现</h1>
        <div class="buttons">
            <button class="button" ng-click="moneybackmodal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item">
                当前余额：500元
            </div>
            <label class="item item-input">
                <span class="input-label">体现金额</span>
                <input type="number">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    提现方式
                </div>
                <select ng-init="paymode='zfb'" ng-model="paymode">
                    <option value="zfb">支付宝</option>
                    <option value="yhk">银行卡</option>
                </select>
            </label>
        </div>
        <div class="list card">
            <label class="item item-input" ng-show="paymode == 'zfb'">
                <span class="input-label">支付宝账号</span>
                <input type="text">
            </label>
            <label class="item item-input" ng-show="paymode == 'zfb'">
                <span class="input-label">支付宝姓名</span>
                <input type="text">
            </label>
            <label class="item item-input" ng-show="paymode == 'yhk'">
                <span class="input-label">银行卡账号</span>
                <input type="text">
            </label>
            <label class="item item-input" ng-show="paymode == 'yhk'">
                <span class="input-label">持卡人姓名</span>
                <input type="text">
            </label>

        </div>
        <div class="padding">
            <button class="button button-block button-assertive">
                提交申请
            </button>
            <p class="text-center">
                温馨提示：审核提现时间次日到账
            </p>
        </div>
    </ion-content>
</div>